<figure class="single-item-effect big">
  <img src="/assets/paris-1.jpg" alt="img01">
  <figcaption>
    <div class="figcaption-border">
      <h2>Bad day in <span>Paris</span></h2>
      <p>Still better than a good day anywhere else</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect big">
  <img src="/assets/paris-2.jpg" alt="img01">
  <figcaption>
    <div class="figcaption-border">
      <h2>Never too <span>old</span></h2>
      <p>Let’s go fall in love</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect full">
  <img src="/assets/paris-13.jpg" alt="img01">
  <figcaption>
    <div class="figcaption-border">
      <h2>Bon <span>appetite</span></h2>
      <p>It is food for your soul</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect big">
  <img src="/assets/paris-9.jpg" alt="img01">
  <figcaption>
    <div class="figcaption-border">
      <h2>I had it <span>all</span></h2>
      <p>But I was waiting for you</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect big">
  <img src="/assets/22.jpg" alt="img01">
  <figcaption>
    <div class="figcaption-border">
      <h2>Like the <span>sunrise</span></h2>
      <p>Some things just have to happen</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect full">
  <img src="/assets/paris-3.jpg" alt="img01">
  <figcaption>
    <div class="figcaption-border">
      <h2>Live your own <span>story</span></h2>
      <p>Don’t re-write someone elses</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>