<figure class="single-item-effect big las-vegas">
  <img src="/assets/las-vegas-2.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Know how to <span>live</span></h2>
      <p>In Vegas you can have the best time</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small wild">
  <img src="/assets/poza-10.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Life <span>Begins</span></h2>
      <p>At the end of your comfort zone</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small los-angeles">
  <img src="/assets/los-angeles-1.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>If L.A. <span>falls</span></h2>
      <p>The country falls</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small los-angeles">
  <img src="/assets/4.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Live the<span>moment</span></h2>
      <p>Don't let it pass by</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small wild">
  <img src="/assets/poza-5.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>The <span>journey</span></h2>
      <p>Not the arrival matters</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect big paris">
  <img src="/assets/paris-1.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Bad day in <span>Paris</span></h2>
      <p>Still better than a good day anywhere else</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect big city-break">
  <img src="/assets/city-break-10.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>See the city <span>lights</span></h2>
      <p>Diamonds fallen from the skies</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small las-vegas">
  <img src="/assets/las-vegas-10.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>God would <span>do it</span></h2>
      <p>If he had money</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small city-break">
  <img src="/assets/city-break-13.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Dare to <span>explore</span></h2>
      <p>It is a concrete jungle</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small paris">
  <img src="/assets/paris-2.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Never too <span>old</span></h2>
      <p>Let’s go fall in love</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small las-vegas">
  <img src="/assets/las-vegas-14.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Imagine <span>how</span></h2>
      <p>Heaven must look at night</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect big wild">
  <img src="/assets/poza-2.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>I want to travel <span>the world</span></h2>
      <p>And breathe the air of new places</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect big wild">
  <img src="/assets/poza-12.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>If you don't know <span>Where</span></h2>
      <p>You're going, any road will get you there</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small paris">
  <img src="/assets/paris-13.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Bon <span>appetite</span></h2>
      <p>It is food for your soul</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small city-break">
  <img src="/assets/15.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Marry the <span>night</span></h2>
      <p>And you will never wake up</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small paris">
  <img src="/assets/paris-9.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>I had it <span>all</span></h2>
      <p>But I was waiting for you</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small las-vegas">
  <img src="/assets/las-vegas-8.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Life is<span>complicated</span></h2>
      <p>Take route 95</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect big los-angeles">
  <img src="/assets/los-angeles-2.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Every day may not be <span>good</span></h2>
      <p>But there’s something good in every day</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect big los-angeles">
  <img src="/assets/los-angeles-3.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>I will <span>prepare</span></h2>
      <p>And someday my chance will come</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small las-vegas">
  <img src="/assets/las-vegas-20.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>From<span>Vegas</span></h2>
      <p>With love</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>
<figure class="single-item-effect small wild">
  <img src="/assets/poza-4.jpg" alt="img01"/>
  <figcaption>
    <div class="figcaption-border">
      <h2>Go <span>Ahead</span></h2>
      <p>You never know what could be on the other side</p>
      <a href="single.html">View more</a>
      <div class="figure-overlay"></div>
    </div>
  </figcaption>
</figure>